.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input{
  width: 75%;
}

.video-item img{
  max-width: 64px;
}

.video-detail .details{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #eee;
}

.nav{
  display: flex;
  float: right;
}

.articlePublishDate{
  float: right;
}

.article-header {
  justify-content: center;
}

.article-content .img-thumbnail{
  width: 30%;
}

.news-list{
  margin-top: 10px;
}

.article-description.col-md-8{
  float: right;
}

#nativeComponent, #commentCard{
  margin-top: 10px;
}

.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-display{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter{
  background-color: grey;
}

.summer{
  background-color: yellow;
}

.season-display.winter i {
  color: blue;
}

.season-display.summer i {
  color: red;
}
